# Ignore all files in the notebook directory
notebooks/*

# Ignore all Jupyter Notebook files
*.ipynb

# Ignore .ipynb_checkpoints directories created by Jupyter
.ipynb_checkpoints/
/.vs
/QuantaTools/__pycache__
/QuantaTools/maths_tools/__pycache__
/test_useful_node_list.json
/Tests/__pycache__
/QuantaTools/maths_tools/maths_test_questions/__pycache__
/env
